
.container {
  padding: 20px;
}

.tracker-header {
  text-align: center;
  color     : #fd9008;
}

.align-spinner-center {
  margin:0 auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.file-browse-icon {
  cursor: pointer;
}
